@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-background: hsl(149, 91%, 49%);
  --primary-light: hsl(149, 91%, 89%);
  --primary-text: hsl(0, 0%, 12%);
  --accent-background: hsl(258, 27%, 26%);
  --accent-hover: hsl(258, 27%, 17%);
  --accent-text: hsl(0, 0%, 96%);
  --error-background: hsl(349, 100%, 89%);
  --error-text: hsl(349, 100%, 27%);
  --paragraph-color: hsl(258, 1%, 23%);
  --border-color: hsl(258, 4%, 77%);
  --border-radius: 40px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

button,
input {
  display: inline-block;
  font: inherit;
  background: none;
  color: inherit;
  border: none;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

li {
  list-style: none;
}

hr {
  border: none;
  margin-block: 40px 20px;
  height: 1px;
  width: 100%;
  background-color: var(--border-color);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: var(--primary-text);
}
