.modal {
  padding: 40px;
  height: 264px;
  max-width: 760px;
  width: 96%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-color: #ffffff;
  border-radius: var(--border-radius);
  z-index: 1001;
  overflow: hidden;
  transition: height 300ms linear, transform 200ms ease-out;
}

.modal.active {
  height: 429px;
}

.modal h2 {
  font-size: 30px;
  font-weight: 600;
}

.modal p {
  font-size: 20px;
  color: var(--paragraph-color);
}

.modal p.resend-message {
  font-size: 16px;
  text-align: center;
}

.modal p.resend-message button {
  margin-left: 6px;
  text-decoration: underline;
  color: var(--accent-background);
  cursor: pointer;
}

.modal p.resend-message button:hover {
  color: var(--accent-hover);
  text-decoration: none;
}

.modal form {
  margin-top: 20px;
  padding: 8px 8px 8px 16px;
  display: flex;
  align-items: center;
  border: 1px solid var(--border-color);
  border-radius: 40px;
}

.modal form input {
  flex: 1;
}

.modal form button.btn-primary {
  padding: 8px 20px;
  height: 43px;
  font-size: 18px;
  border-radius: 30px;
}
