div#root {
  position: relative;
  overflow-x: hidden;
}

.container {
  margin-inline: auto;
  max-width: 1440px;
  width: 90%;
}

.btn {
  font-size: 18px;
  font-weight: 500;
  transition: all 200ms linear;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--accent-background);
  color: var(--accent-text);
}

.btn-primary:hover {
  background-color: var(--accent-hover);
}

.btn-secondary {
  border: 4px solid var(--accent-text);
  color: var(--accent-text);
}

.btn-secondary:hover {
  background-color: var(--accent-text);
  color: var(--accent-background);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

header {
  min-height: 90vh;
}

div.navbar {
  width: 100%;
  background: #fff;
}

nav.nav {
  height: 100px;
  justify-content: space-between;
}

a.logo {
  height: 32px;
}

nav .btn-modal {
  padding: 10px 26px;
  border-radius: 30px;
}

section.hero {
  min-height: 600px;
  height: calc(90vh - 100px);
  text-align: center;
  background-color: var(--primary-background);
  border-radius: 40px;
}

section.hero .wrapper {
  max-width: 860px;
  width: 90%;
}

section.hero h1 {
  font-size: 82px;
  line-height: 1.34;
}

section.hero p {
  font-size: 26px;
}

main.features {
  padding-block: 120px 160px;
  text-align: center;
}

footer {
  margin-top: 40px;
  height: 80px;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.82);
  z-index: 1000;
}

/* States */
body.active-overlay {
  overflow: hidden;
}

body.active-overlay .overlay {
  display: initial;
}

body.active-overlay .modal {
  transform: translate(-50%, -50%) scale(1);
}
