<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>MiniUrl</title>
        <link
            rel="shortcut icon"
            href="/static/images/favicon.ico"
            type="image/x-icon"
        />
        <link rel="stylesheet" href="/static/css/style.css" />
        <script src="/static/js/script.js" defer></script>
    </head>
    <body>
        <header>
            <nav class="container navbar">
                <a href="{{ url_for('index') }}"
                    ><img src="/static/images/logo.svg" alt="miniurl-logo"
                /></a>
                {% if username %}
                <div class="profile">
                    <p>Hi, {{ username }}</p>
                    <a href="/logout" class="btn-signOut">Sign out</a>
                </div>
                {% else %}
                <button class="btn btn-signIn">Sign in</button>
                {% endif %}
            </nav>
            <section class="container hero">
                <div class="hero-left">
                    <h1 class="tagline">More than just shorter links</h1>
                    <h3 class="description">
                        Build your brand's recognition and get detailed insights
                        on how your links are performing.
                    </h3>
                    <button class="btn btn-getStarted">Get Started</button>
                </div>
                <div class="hero-right">
                    <img
                        src="/static/images/illustration.svg"
                        alt="miniurl-illustration"
                    />
                </div>
            </section>
        </header>
        <section class="form-wrapper">
            <form class="container form" id="form">
                {% if username %}
                <input
                    type="url"
                    name="url"
                    id="url"
                    placeholder="Shorten a Link Here"
                />
                <button type="button" id="btn-sendCode">Shorten It!</button>
                {% else %}
                <input
                    type="email"
                    name="email"
                    id="email"
                    placeholder="Enter Your Email Here"
                />
                <button type="button" id="btn-sendCode">Send Code</button>
                {% endif %}
            </form>
        </section>
        <main>
            <div class="feature-header container">
                <h2>Advanced Statistics</h2>
                <p>
                    Track how your links are performing across the web with our
                    advanced statistics dashboard.
                </p>
            </div>
            <div class="container features">
                <div class="card">
                    <div class="icon-wrapper">
                        <img
                            src="/static/images/icon-brand-recognition.svg"
                            alt="miniurl-feature-brand-recognition"
                        />
                    </div>
                    <h3>Brand Recognition</h3>
                    <p>
                        Boost your brand recognition with each click. Generic
                        links don't mean a thing. Branded links help instil
                        confidence in your content.
                    </p>
                </div>
                <div class="card">
                    <div class="icon-wrapper">
                        <img
                            src="/static/images/icon-detailed-records.svg"
                            alt="miniurl-feature-detailed-records"
                        />
                    </div>
                    <h3>Detailed Records</h3>
                    <p>
                        Gain insights into who is clicking your links. Knowing
                        when and where people engage with your content helps
                        inform better decisions.
                    </p>
                </div>
                <div class="card">
                    <div class="icon-wrapper">
                        <img
                            src="/static/images/icon-fully-customizable.svg"
                            alt="miniurl-feature-fully-customizable"
                        />
                    </div>
                    <h3>Fully Customizable</h3>
                    <p>
                        Improve brand awareness and content discoverability
                        through customizable links, supercharging audience
                        engagement.
                    </p>
                </div>
            </div>
        </main>
        <footer>
            <section class="container">
                <h2>Boost your links today</h2>
                <p>
                    MiniUrl is a URL shortener and a great tool to easily manage
                    short links - also short branded links - supporting the
                    development of your brand and your business.
                </p>
                <button class="btn btn-getStarted">Get Started</button>
            </section>
            <div class="footer">
                <p>&copy; 2023 MiniUrl</p>
            </div>
        </footer>

        <div id="overlay"></div>
        <div id="modal" class="modal">
            <h3>Verify Email Address</h3>
            <p>
                <span>Please enter the OTP we've send to</span>
                <span id="user-email">nagarjatin336@gmail.com</span>
            </p>
            <form>
                <input
                    type="text"
                    name="otp"
                    id="otp"
                    placeholder="000000"
                    autofocus
                />
                <button type="button" id="btn-verify" class="btn-verify">
                    Verify and Sign In
                </button>
            </form>
        </div>
    </body>
</html>
