<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>MiniUrl</title>
        <link
            rel="shortcut icon"
            href="/static/images/favicon.ico"
            type="image/x-icon"
        />
        <link rel="stylesheet" href="/static/css/style.css" />
        {% if username %}
        <script src="/static/js/shorten.js" defer></script>
        {% else %}
        <script src="/static/js/login.js" defer></script>
        {% endif %}
        <script src="/static/js/script.js" defer></script>
    </head>
    <body>
        <header>
            <nav class="container">
                <a href="{{ url_for('index') }}"
                    ><img src="/static/images/logo.svg" alt="miniurl-logo"
                /></a>
                <ul class="links">
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="#features">Features</a></li>
                    <li><a href="#pricing">Pricing</a></li>
                </ul>
            </nav>
            <section class="container hero">
                <div class="wrapper">
                    <h1>More than just shorter links</h1>
                    <p>
                        Build your brand's recognition and get detailed insights
                        on how your links are performing.
                    </p>
                    <button class="btn btn-primary">Get Started</button>
                </div>
            </section>
        </header>
        <main class="features" id="features">
            <div class="container">
                <h2>What is <i>MiniUrl</i><span> ?</span></h2>
                <p>
                    MiniUrl is an all-in-one Link Management Platform for all
                    your links and needs. It is an advanced URL Shortener with
                    extensive Link Analytics. MiniUrl offers solutions that will
                    allow you to manage your links, thanks to which you can
                    develop your business while having your links under control.
                    MiniUrl is also a platform for generating QR Codes, so you
                    can combine offline and online solutions.
                </p>

                <div class="card-wrapper">
                    <div class="card">
                        <div class="icon-wrapper">
                            <img
                                src="/static/images/link-shortener.svg"
                                alt="miniurl-feature-url-shortener"
                            />
                        </div>
                        <h3>URL Shortener</h3>
                        <p>
                            MiniUrl is a URL Shortener and Link Management
                            Platform with a lot of features that will help you
                            handle all your links in an intuitive way and reveal
                            the potential of your links.
                        </p>
                    </div>
                    <div class="card">
                        <div class="icon-wrapper">
                            <img
                                src="/static/images/analytics.svg"
                                alt="miniurl-feature-link-analytics"
                            />
                        </div>
                        <h3>Link analytics</h3>
                        <p>
                            MiniUrl is an advanced Link Analytics platform that
                            tracks clicks on short links and measures the
                            effectiveness of clicks. Extensive statistics of
                            clicks on short links.
                        </p>
                    </div>
                    <div class="card">
                        <div class="icon-wrapper">
                            <img
                                src="/static/images/qr_code.svg"
                                alt="miniurl-feature-qr-code"
                            />
                        </div>
                        <h3>QR Codes</h3>
                        <p>
                            Generate QR codes and customize them according to
                            your style and manage their redirection so that QR
                            codes reflect your brand and allow you to grow your
                            business.
                        </p>
                    </div>
                </div>
            </div>
        </main>
        <section class="pricing" id="pricing">
            <div class="container card-lg">
                <h2>Boost your links for free</h2>
                <button class="btn btn-secondary">Get Started</button>
            </div>
        </section>
        <footer>
            <p>&copy; 2023 MiniUrl</p>
        </footer>
    </body>
</html>
