<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="/static/images/favicon.ico"
      type="image/x-icon"
    />
    <title>MiniUrl</title>
    <link rel="stylesheet" href="/static/css/global.css" />
    {% block stylesheets %} {% endblock %} {% block scripts %} {% endblock %}
  </head>
  <body>
    <div id="root">
      <header>
        <nav class="container flex nav">
          <a href="{{ url_for('index') }}" class="logo"
            ><img
              src="/static/images/logo.svg"
              alt="miniurl logo"
              loading="eager"
          /></a>
          {% block menu %} {% endblock %}
        </nav>
        <section class="container flex hero">
          <div class="wrapper">
            <h1>More than just shorter links</h1>
            <p>
              Build your brand's recognition and get detailed insights on how
              your links are performing.
            </p>
            {% block callToAction %} {% endblock %}
          </div>
        </section>
      </header>
      {% block main %} {% endblock %}
      <footer class="flex">
        <p>
          Copyright &copy;&nbsp;<span id="current-year"></span>&nbsp;MiniUrl
        </p>
      </footer>
      {% block overlay %} {% endblock %}
    </div>
  </body>
</html>
