<section class="info">
    <h3 class="title">{{ data[2] }}</h3>
    <p class="header">
        <span><b>Created On:</b> {{ data[5] }}</span>
        <span><b>Total Clicks:</b> {{ data[6] }}</span>
    </p>
    <p class="long-link">{{ data[4] }}</p>
    <p class="short-link">{{ host+data[3] }}</p>
    <button class="btn-copy" id="btn-copy">
        <img src="/static/images/icon-copy.svg" alt="miniurl-icon-copy" />
        Copy
    </button>
    <div class="qr-container">
        <h4>QR Code</h4>
        <div class="qr-wrapper">
            <img
                src="https://api.qrserver.com/v1/create-qr-code/?data={{ host+data[3] }}"
                alt=""
            />
        </div>
    </div>
</section>
