{% extends "layout.html" %} {% block stylesheets %}
<link rel="stylesheet" href="/static/css/style.css" />
<link rel="stylesheet" href="/static/css/user.css" />
<link rel="stylesheet" href="/static/css/sidebar.css" />
{% endblock %} {% block scripts %}
<script src="/static/js/script.js" defer></script>
<script src="/static/js/user.js" defer></script>
{% endblock %} {% block menu %}
<a href="/logout" class="btn logout">Logout</a>
{% endblock %} {% block callToAction %}
<form class="shorten" id="shorten">
  <input type="url" name="url" id="url" placeholder="Very Long URL" required />
  <button class="btn btn-primary btn-login">Shorten</button>
</form>
{% endblock %} {% block main %}
<main class="features" id="features">
  <div class="container">
    <h2>Hi, <i>{{ username }}</i></h2>
    <section class="cards">
      {% for item in data %}
      <div class="flex card">
        <p class="long_url">{{ item[3] }}</p>
        <a class="short_url" href="{{ host + item[2] }}"
          >{{ host + item[2] }}</a
        >
        <button
          type="button"
          class="flex btn btn-primary btn-sidebar"
          title="More Information"
          data-id="{{ item[1] }}"
        >
          <img src="/static/images/icon-arrow.svg" alt="miniurl sidebar" />
        </button>
      </div>
      {% endfor %}
    </section>
  </div>
</main>
{% endblock %} {% block overlay %}
<div class="overlay" id="overlay"></div>
<aside class="sidebar" id="sidebar"></aside>
{% endblock %}
