{% extends "layout.html" %} {% block scripts %}
<script src="/static/js/shorten.js" defer></script>
<script src="/static/js/script.js" defer></script>
{% endblock %} {% block menu %}
<ul class="links" id="menu">
    <li><a href="{{ url_for('index') }}">Home</a></li>
    <li><a href="#features">Features</a></li>
    <li><a href="#pricing">Pricing</a></li>
    <div class="profile">
        <p>Hi, <span>{{ username }}</span></p>
        <a href="/logout" class="btn btn-logout">Log Out</a>
    </div>
</ul>
{% endblock %} {% block callToAction %}
<form class="shorten">
    <div class="input-group">
        <input
            type="url"
            name="shorten"
            id="shorten"
            placeholder="Shorten your link"
            required
        />
        <button
            class="btn btn-primary btn-shorten"
            id="btn-shorten"
            type="button"
        >
            Shorten It!
        </button>
    </div>
</form>
{% endblock %} {% block main %}
<main>
    <div class="container shorten">
        {% for record in data %}
        <div class="card" data-id="{{ record[0] }}">
            <div class="header">
                <h2>{{ record[2] }}</h2>
                <p><span class="date">{{ record[5] }}</span></p>
            </div>
            <hr />
            <p class="long">{{ record[4] }}</p>
            <a href="{{ host+record[3] }}">{{ host+record[3] }}</a>
            <div class="footer">
                <div class="actions">
                    <button
                        class="btn btn-primary btn-copy"
                        data-link="{{ host+record[3] }}"
                    >
                        Copy
                    </button>
                </div>
                <div>Total Clicks: {{ record[6] }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}
